<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{> mixpanel}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-sharing/1.7.2/css/social-sharing.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>

  </head>
  <body>
        <nav id="topbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo_light.png" width="32" height="auto">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/resources">Resources</a></li>
                        <li role="separator" class="divider"></li>

                        {{#if subheadings}}
                        <li class="menu-section-header">Sections</li>
                        {{#each subheadings}}
                            <li class="menu-section-subtitle"><a href='{{this.anchor}}'>{{moduleNumber}}.{{submoduleNumber}} {{{text}}}</a></li>
                        {{/each}}
                        {{/if}}
                        {{#if footnotes}}
                        <li class="menu-section-subtitle"><a href="#references">References</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
        {{{body}}}


        {{> footer}}
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="//load.sumome.com/" data-sumo-site-id="42b0c19b8aa632a113a8d4f15b300368f0385592c2f74302b436b0318dc1c21a" async="async"></script>
  </body>
</html>
