
<div class="banner">

    <h1><img src="/images/logo_name_transparent.png" alt="Teach me product"/></h1>

    <h2>Learn the fundamentals of software product management.</h2>
    <a href="/modules/1_Intro/1_Welcome-to-Teach-Me-Product" class="btn btn-cta btn-primary btn-lg">
        Get Started
    </a>

    <div class="email-signup-wrapper">
        {{> email}}
    </div>

    <span class="arrow-down" id="scroll-down-btn"></span>
</div>
<div class="module-body module-home" id="page-contents">

    {{#each headings}}
        <div class="chapter" id="chapter-{{this.name}}">
            <h3 class="chapter-title">{{this.displayName}}</h3>
        </div>
        <div class="chapter-contents">
            <ul class="chapter-contents-list">
                {{#each this.modules}}
                    {{#unless draft}}
                        <li>
                            <span class="chapter-contents-list-number pull-left">{{this.number}}</span>
                            <a class="pull-right chapter-meta available-now" href="/m/{{this.shortLink}}">Read Now</a>
                            <h4 class="chapter-contents-title">
                                <a href="/m/{{this.shortLink}}">{{this.text}}</a>
                            </h4>
                            <p class="excerpt">{{this.excerpt}}</p>
                        </li>
                    {{else}}
                        <li>
                            <span class="chapter-contents-list-number pull-left">{{this.number}}</span>
                            <span class="pull-right chapter-meta coming-soon">Coming Soon</span>
                            <h4 class="chapter-contents-title">{{this.text}}</h4>
                            <p class="excerpt">{{this.excerpt}}</p>
                        </li>

                    {{/unless}}

                {{/each}}
            </ul>
        </div>
    {{/each}}
</div>

<script>
    function goToByScroll(id){
      // Remove "link" from the ID
    id = id.replace("link", "");
      // Scroll
    $('html,body').animate({
        scrollTop: $("#"+id).offset().top - 100},
        'slow');
    }

    $("#scroll-down-btn").click(function(e) {
      // Prevent a page reload when a link is pressed
    e.preventDefault();
      // Call the scroll function
    goToByScroll('page-contents');
    });
</script>
