
<div class="banner">
    <h1>{{title}}</h1>
    <h2>Learn the fundamentals of software product management.</h2>
    <a href="/modules/1_Intro/1_Welcome-to-Teach-Me-Product" class="btn btn-primary btn-lg">Start with Chapter 1</a>
</div>
<div class="module-body module-home">

    <table class="chapter-table table">
        <tbody>
        {{#each headings}}
            <tr>
            <td class="chapter" id="chapter-{{this.name}}">
                <h3 class="chapter-title">{{this.displayName}}</h3>
            </td>
            <td class="chapter-contents">
                <ul class="module-main">
                    {{#each this.modules}}
                        {{#unless draft}}
                            <li>
                                <h4 class="chapter-contents-title">
                                    <a href="/modules/{{../../this.name}}/{{../this.link}}">{{../this.text}}</a>
                                </h4>
                                <p class="excerpt">{{../this.excerpt}}</p>
                            </li>
                        {{else}}
                            <li>
                                <span class="pull-right coming-soon">Coming Soon</span>
                                <h4 class="chapter-contents-title">{{../this.text}}</h4>
                                <p class="excerpt">{{../this.excerpt}}</p>
                            </li>

                        {{/unless}}

                    {{/each}}
                </ul>
            </td>
            </tr>
        {{/each}}
        </tbody>
    </table>


</div>
