
<div class="banner">
    <h1>{{title}}</h1>
    <h2>Learn the fundamentals of software product management.</h2>
    <a href="/modules/1_Intro/1_Welcome-to-Teach-Me-Product" class="btn btn-cta btn-primary btn-lg">
        Get Started
    </a>

    <div class="email-signup-wrapper">
        {{> email}}
    </div>
</div>
<div class="module-body module-home">

    {{#each headings}}
        <div class="chapter" id="chapter-{{this.name}}">
            <h3 class="chapter-title">{{this.displayName}}</h3>
        </div>
        <div class="chapter-contents">
            <ol class="chapter-contents-list">
                {{#each this.modules}}
                    {{#unless draft}}
                        <li>
                            <a class="pull-right chapter-meta available-now" href="/modules/{{../this.name}}/{{this.link}}">Read Now</a>
                            <h4 class="chapter-contents-title">
                                <a href="/modules/{{../this.name}}/{{this.link}}">{{this.text}}</a>
                            </h4>
                            <p class="excerpt">{{this.excerpt}}</p>
                        </li>
                    {{else}}
                        <li>
                            <span class="pull-right chapter-meta coming-soon">Coming Soon</span>
                            <h4 class="chapter-contents-title">{{this.text}}</h4>
                            <p class="excerpt">{{this.excerpt}}</p>
                        </li>

                    {{/unless}}

                {{/each}}
            </ol>
        </div>
    {{/each}}
</div>
