
<div class="sidebar">
    <ul>
        {{#each subheadings}}
            <li><a href='{{this.anchor}}'>{{../moduleNumber}}.{{submoduleNumber}} {{text}}</a></li>
        {{/each}}
        {{#if footnotes}}
        <li><a href="#references">References</a></li>
        {{/if}}
    </ul>
    <div class="sidebar-social">
        <h5>Spread the word</h5>
        <a class="btn btn-tweet" target="_blank" href="https://twitter.com/intent/tweet?text={{title}}&url={{url}}&via=tilomitra">Tweet</a>
        <a class="btn btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Share on Facebook</a>
        <a class="btn btn-linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}&summary={{excerpt}}&source={{url}}">Share on LinkedIn</a>
    </div>
</div>
<div class="module-body">
    <div class="module-content">
        {{{content}}}
        </div> <!-- close the last open h2 div. see the marked renderer for headings for details. -->
    </div>
    <hr/>


        {{#if prevSubmodule}}
            <p>
                <span class="module-control module-control-previous">Previous module</span>
                <a href="{{prevSubmodule.link}}" class="btn btn-default">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    {{prevSubmodule.text}}
                </a>
            </p>
        {{/if}}

        {{#if nextSubmodule}}
            <p style="text-align: right">

                <span class="module-control module-control-next">Next module</span>
                <a href="{{nextSubmodule.link}}" class="btn btn-default">
                    {{nextSubmodule.text}}
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </a>
            </p>
        {{/if}}
    <hr/>
    <div class="module-footnotes">
        {{#if footnotes}}
        <h2 id="references">References</h2>
        <ul class="module-footnotes-list">
            {{#each footnotes}}
                <li id="fn-{{number}}"><a href="{{href}}">{{number}}. {{{title}}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js">

</script>
<script>

    var sidebar = document.querySelector('.sidebar');
    var throttleScroll = 0;
    /**
     * This part handles the highlighting functionality.
     * We use the scroll functionality again, some array creation and
     * manipulation, class adding and class removing, and conditional testing
     */
    var aChildren = $(".sidebar li").children(); // find the a children of the list items
    var aArray = []; // create the empty aArray
    for (var i=0; i < aChildren.length; i++) {
        var aChild = aChildren[i];
        var ahref = $(aChild).attr('href');
        aArray.push(ahref);
    } // this for loop fills the aArray with attribute href values

    window.addEventListener('scroll', function (e) {
        throttleScroll++;
        var scrOfY = window.pageYOffset;

        if (throttleScroll % 5 === 0) {

            if (scrOfY > 100) {
                sidebar.style.opacity = 0.2;
            }
            else {
                sidebar.style.opacity = 1;
            }

            var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
            var windowHeight = $(window).height(); // get the height of the window
            var docHeight = $(document).height();


            for (var i=0; i < aArray.length; i++) {
                var theID = aArray[i];
                var divPos = $(theID).offset().top; // get the offset of the div from the top of page
                var divHeight = $(theID).height(); // get the height of the div in question
                if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
                    $("a[href='" + theID + "']").addClass("nav-active");
                } else {
                    $("a[href='" + theID + "']").removeClass("nav-active");
                }
            }

            if(windowPos + windowHeight == docHeight) {
                if (!$(".sidebar li:last-child a").hasClass("nav-active")) {
                    var navActiveCurrent = $(".nav-active").attr("href");
                    $("a[href='" + navActiveCurrent + "']").removeClass("nav-active");
                    $(".sidebar li:last-child a").addClass("nav-active");
                }
            }
        }

        else if (scrOfY < 100) {
            sidebar.style.opacity = 1;
        }
    });

</script>
